<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/game.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' type="text/css">

    <!-- LIBS -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Game</title>

    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script>
        const socket = io();
    </script>

</head>
<body>
    <!--<header class="header">
        <%- include("./parts/header"); -%>
    </header>-->

    <main>
        <div class="game__container">

            <div id="scoreboard" class="display__none">
                <div class="scoreboard__title">
                    <h2><mark>Scoreboard</mark></h2>
                </div>
                <div class="scoreboard__content">
                    <p id="scoreboardWinLoose"></p>
                    <div class="stats">
                        <div>
                            <img class="youSheep" src="../public/img/logo.png" alt="You">
                            <span id="yourScore"></span>
                        </div>
                        <div>
                            <img class="enemySheep" src="../public/img/game/enemy__sheep.png" alt="Enemy">
                            <span id="enemyScore"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="gameBoards" class="game__boards">
                <div id="shipContainer" class="place__ship__container">
                    <div class="place__ship__content">
                        <div class="ship__title">
                            <h2><mark>Place your ships</mark></h2>
                            <!--<button id="rotateShip">Rotate</button>-->
                            <svg id="rotateShip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="64px" style="fill: white;" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
    <path d="M30,2c0,1.104,0.896,2,2,2c7.479,0,14.51,2.913,19.798,8.202C57.087,17.49,60,24.521,60,32c0,7.381-2.842,14.323-8,19.587
		V46c0-1.104-0.896-2-2-2s-2,0.896-2,2v12h12c1.104,0,2-0.896,2-2s-0.896-2-2-2h-4.776C60.885,48.032,64,40.257,64,32
		c0-8.547-3.329-16.583-9.374-22.627C48.583,3.329,40.547,0,32,0C30.896,0,30,0.896,30,2z"/>
    <path d="M9.374,54.627C15.417,60.671,23.453,64,32,64c1.104,0,2-0.896,2-2s-0.896-2-2-2c-7.479,0-14.51-2.913-19.798-8.202
		C6.913,46.51,4,39.479,4,32c0-7.381,2.842-14.323,8-19.587V18c0,1.104,0.896,2,2,2s2-0.896,2-2V6H4C2.896,6,2,6.896,2,8
		s0.896,2,2,2h4.776C3.115,15.968,0,23.743,0,32C0,40.547,3.329,48.583,9.374,54.627z"/>
</g>
</svg>
                        </div>
                        <div class="ship__container">
                            <div class="element torpilleur">
                                <img class="ship" draggable="true" data="0" src="../public/img/game/torpilleur.png" alt="">
                                <span>Torpilleur</span>
                            </div>
                            <div class="element sous__marin">
                                <img class="ship" draggable="true" data="1" src="../public/img/game/torpilleur.png" alt="">
                                <span>Sous-marin</span>
                            </div>
                            <div class="element contre__torpilleur">
                                <img class="ship" draggable="true" data="2" src="../public/img/game/contre-torpilleur.png" alt="">
                                <span>Contre torpilleur</span>
                            </div>
                            <div class="element croiseur">
                                <img class="ship" draggable="true" data="3" src="../public/img/game/contre-torpilleur.png" alt="">
                                <span>Croiseur</span>
                            </div>
                            <div class="element porte__avion">
                                <img class="ship" draggable="true" data="4" src="../public/img/game/porte-avion.png" alt="">
                                <span>Porte avion</span>
                            </div>
                        </div>
                    </div>
                    <div class="ready__btn__container">
                        <span>Have you placed all your ship?</span>
                        <button id="readyBtnToStartGame" class="hvr-shrink">Ready</button>
                    </div>
                </div>
                <div id="itemContainer" style="display: none;" class="item__selection__container">
                    <div class="item__selection__content">
                        <div class="flexg__2">
                            <div class="item__title">
                                <h2><mark>Select an item</mark></h2>
                            </div>
                            <div class="item__container">
                                <div class="element">
                                    <img class="item" data="0" src="../public/img/game/missile.png" alt="Rocket">
                                    <span class="element">Rocket</span>
                                </div>
                                <div class="element">
                                    <img class="item" data="1" src="../public/img/game/radar.png" alt="Radar">
                                    <span class="element">Radar</span>
                                </div>
                                <div class="element">
                                    <img class="item" data="2" src="../public/img/game/torpille.png" alt="Torpedo">
                                    <span class="element">Torpedo</span>
                                </div>
                                <div class="element">
                                    <img class="item" data="3" src="../public/img/game/frag.png" alt="Frag">
                                    <span class="element">Frag Grenade</span>
                                </div>
                            </div>
                        </div>
                        <div class="ready__btn__container">
                            <pre id="fireOutput"></pre>
                            <span>Sunk these boats!!</span>
                            <button id="readyBtnToFire" class="hvr-shrink">Fire!</button>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="board__element">
                        <div id="yourBoard" class="your__board">
                        </div>
                        <div id="enemyBoard" class="enemy__board">
                        </div>
                    </div>
                    <div class="chat__element">
                        <div id="chatFrame" class="chat__container">
                            <div class="chat__div">
                                <p>You can type a message he will appear just below</p>
                                <hr style="border-color: white; background-color: white">
                                <div id="chatDiv" class="chat__output">
                                </div>
                            </div>
                        </div>
                        <form id="form" class="beneath__chat">
                            <div class="input__container">
                                <input id="input" oninput="chatManager.onTyping()" autocomplete="off"
                                       placeholder="Type your message here !"/>
                                <div id="currentChar" class="currentChar"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="debugTable" style="display: none;" class="game__info">
                <div class=table__container>
                    <table>
                        <thead>
                        <tr>
                            <th>Informations</th>
                            <th>Is connected?</th>
                            <th>Is ready?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>You</td>
                            <td id="youConnected">X</td>
                            <td id="youReady">X</td>
                        </tr>
                        <tr>
                            <td>Enemy</td>
                            <td id="enemyConnected">X</td>
                            <td id="enemyReady">X</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="game__quit">
                <button id="quitGameBtn" class="hvr-grow">Quit Game</button>
            </div>
        </div>
    </main>

    <!--<footer>
        <%- include("./parts/footer"); -%>
    </footer>-->

    <!--<script src="../public/js/responsive/HeaderResponsive.js"></script>-->

    <!-- DATA -->
    <script src="../public/js/game/data/ShipData.js"></script>

    <!-- GAME -->
    <script src="../public/js/chat/ChatManager.js"></script>
    <script src="../public/js/game/manager/SocketManager.js"></script>
    <script src="../public/js/game/Listeners.js"></script>
    <script src="../public/js/game/manager/GameManager.js"></script>
    <script type="module" src="../public/js/game/main.js"></script>

</body>
</html>