<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/game.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' type="text/css">

    <!-- LIBS -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Game</title>

    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script>
        const socket = io();
    </script>

</head>
<body>
    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <main>
        <div class="game__container">
            <div class="game__title">
                <h1><mark>BattleSheep</mark></h1>
            </div>

            <div id="gameBoards" class="game__boards">
                <div id="yourBoard" class="your__board">
                </div>
                <div id="enemyBoard" class="enemy__board">
                </div>
            </div>

            <div id="shipContainer" class="place__ship__container">
                <div class="place__ship__content">
                    <div class="ship__title">
                        <h2><mark>Place your ships</mark></h2>
                        <button id="rotateShip">Rotate</button>
                    </div>
                    <div class="ship__container">
                        <div class="element torpilleur">
                            <img class="ship" draggable="true" data="0" src="../public/img/game/torpilleur.png" alt="">
                            <span>Torpilleur</span>
                        </div>
                        <div class="element sous__marin">
                            <img class="ship" draggable="true" data="1" src="../public/img/game/torpilleur.png" alt="">
                            <span>Sous-marin</span>
                        </div>
                        <div class="element contre__torpilleur">
                            <img class="ship" draggable="true" data="2" src="../public/img/game/contre-torpilleur.png" alt="">
                            <span>Contre torpilleur</span>
                        </div>
                        <div class="element croiseur">
                            <img class="ship" draggable="true" data="3" src="../public/img/game/contre-torpilleur.png" alt="">
                            <span>Croiseur</span>
                        </div>
                        <div class="element porte__avion">
                            <img class="ship" draggable="true" data="4" src="../public/img/game/porte-avion.png" alt="">
                            <span>Porte avion</span>
                        </div>
                    </div>
                </div>
                <div class="ready__btn__container">
                    <span>Have you placed all your ship?</span>
                    <button id="readyBtnToStartGame" class="hvr-shrink">Ready</button>
                </div>
            </div>

            <div id="itemContainer" class="item__selection__container">
                <div class="item__selection__content">
                    <div class="item__title">
                        <h2><mark>Select an item</mark></h2>
                        <pre id="fireOutput"></pre>
                    </div>
                    <div class="item__container">
                        <div class="element">
                            <img class="item" data="0" src="../public/img/game/missile.png" alt="Rocket">
                            <span class="element">Rocket</span>
                        </div>
                        <div class="element">
                            <img class="item" data="1" src="../public/img/game/radar.png" alt="Radar">
                            <span class="element">Radar</span>
                        </div>
                        <div class="element">
                            <img class="item" data="2" src="../public/img/game/torpille.png" alt="Torpedo">
                            <span class="element">Torpedo</span>
                        </div>
                        <div class="element">
                            <img class="item" data="3" src="../public/img/game/frag.png" alt="Frag">
                            <span class="element">Frag Grenade</span>
                        </div>
                    </div>
                    <div class="ready__btn__container">
                        <span>Sunk these boats!!</span>
                        <button id="readyBtnToFire" class="hvr-shrink">Fire!</button>
                    </div>
                </div>
            </div>

            <div class="game__info">
                <div class=table__container>
                    <table>
                        <thead>
                        <tr>
                            <th>Informations</th>
                            <th>Is connected?</th>
                            <th>Is ready?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>You</td>
                            <td id="youConnected">X</td>
                            <td id="youReady">X</td>
                        </tr>
                        <tr>
                            <td>Enemy</td>
                            <td id="enemyConnected">X</td>
                            <td id="enemyReady">X</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="game__quit">
                <button id="quitGameBtn" class="hvr-grow">Quit Game</button>
            </div>
        </div>
    </main>

    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/responsive/HeaderResponsive.js"></script>

    <!-- DATA -->
    <script src="../public/js/game/data/ShipData.js"></script>
    <!-- GAME -->
    <script src="../public/js/game/manager/SocketManager.js"></script>
    <script src="../public/js/game/Listeners.js"></script>
    <script src="../public/js/game/manager/GameManager.js"></script>
    <script type="module" src="../public/js/game/main.js"></script>

</body>
</html>