<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/game.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' type="text/css">
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Game</title>

    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script>
        const socket = io();
    </script>

    <style>
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
        }
    </style>

</head>
<body>
    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <main>
        <div class="game__container">
            <div class="game__title">
                <h1><mark>BattleSheep</mark></h1>
            </div>

            <div class="game__info">
                <div class=table__container>
                    <table>
                        <thead>
                        <tr>
                            <th>Informations</th>
                            <th>Is connected?</th>
                            <th>Is ready?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>You</td>
                            <td id="youConnected">X</td>
                            <td id="youReady">X</td>
                        </tr>
                        <tr>
                            <td>Enemy</td>
                            <td id="enemyConnected">X</td>
                            <td id="enemyReady">X</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            <div class="game__boards">
                <div id="yourBoard" class="your__board">
                </div>
                <div id="enemyBoard" class="enemy__board">
                </div>
            </div>

            <div id="shipContainer" class="place__ship__container">
                <div class="place__ship__content">
                    <div class="ship__title">
                        <h2><mark>Place your ships</mark></h2>
                    </div>
                    <div class="">
                        sfdddsfsdf
                    </div>
                </div>
                <div class="game__quit">
                    <button id="readyBtn" class="hvr-grow">READY</button>
                </div>

            <img src="../public/img/game/torpilleur.png" alt="">

            <div class="game__quit">
                <button id="quitGameBtn" class="hvr-grow">Quit Game</button>
            </div>
        </div>
    </main>

    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/responsive/HeaderResponsive.js"></script>

    <!-- DATA -->
    <script src="../public/js/game/data/ShipData.js"></script>
    <!-- GAME -->
    <script src="../public/js/game/manager/SocketManager.js"></script>
    <script src="../public/js/game/manager/GameManager.js"></script>
    <script src="../public/js/game/main.js"></script>

</body>
</html>