<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/modal.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">


    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>

    <title>BattleSheep | Home</title>
</head>
<body class="dark">

    <header class="header">
        <%- include("./parts/header"); -%>
    </header>

    <main>
        <section class="home__container">
            <h1><mark>Welcome!</mark></h1>
            <p>(La vidéo sera remplacée par une vidéo de partie)</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SpQw41Zd-1M" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p></p>
        </section>
    </main>

    <footer>
        <%- include("./parts/footer"); -%>
    </footer>

    <script src="../public/js/responsive/HeaderResponsive.js"></script>

</body>
</html>