<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <% if(signup === "true"){ %>
        <title>BattleSheep | Sign Up</title>
    <% } else { %>
        <title>BattleSheep | Sign In</title>
    <% } %>
</head>
<body class="dark">

    <div class="logo__container">
        <img src="../public/img/logo.png" alt="Sheep">
    </div>

    <div class="login__container">
        <div class="login__popup">
            <div class="login__title">
                <div class="login__back">
                    <a href="/"><i class='bx bxs-chevron-left'></i></a>
                    <% if(signup === "true"){ %>
                        <span>HI YOU</span>
                    <% } else { %>
                        <span>WELCOME BACK</span>
                    <% } %>
                </div>
                <% if(signup === "true"){ %>
                    <h1><mark>Create an account</mark></h1>
                <% } else { %>
                    <h1><mark>Log into your account</mark></h1>
                <% } %>
            </div>

            <% if(registerInvalidUsername !== undefined){ %>
                <p><%= registerInvalidUsername %></p>
            <% } %>

            <% if(registerInvalidPassword !== undefined){ %>
                <p><%= registerInvalidPassword %></p>
            <% } %>

            <% if(userAlreadyRegistered !== undefined){ %>
                <p><%= userAlreadyRegistered %></p>
            <% } %>

            <form id="form" action="api/login" method="POST" class="login__form__container">
                <div class="login__form__element">
                    <% if(signup === "true"){ %>
                        <span>Username</span>
                        <label for="usernameInput"><input name="username"  id="usernameInput" type="text" placeholder="Enter your username" required></label>
                    <% } else { %>
                        <span>Username or Email</span>
                            <label for="usernameInput"><input name="username"  id="usernameInput" type="text" placeholder="Enter your username" required></label>
                    <% } %>
                </div>
                <% if(signup === "true"){ %>
                    <div class="login__form__element">
                        <span>Email</span>
                        <label for="emailInput"><input name="email" id="emailInput" type="email" placeholder="Enter your email"></label>
                    </div>
                <% } %>
                <div class="login__form__element">
                    <span>Password</span>
                    <label for="passwordInput"><input name="password" id="passwordInput" type="password" placeholder="Enter your password" required></label>
                </div>
                <button type="submit" id="sendButton" class="login__button hvr-grow">Sign In</button>
            </form>
            <div class="signup">
                <p>Not registered yet?
                    <% if(signup === "true"){ %>
                        <span id="registerSpan">Login <i class="bx bx-right-arrow-alt"></i></span>
                    <% } else { %>
                        <span id="registerSpan">Register <i class="bx bx-right-arrow-alt"></i></span>
                    <% } %>
                </p>
            </div>
        </div>
    </div>

    <script src="../public/js/login/manager/LoginManager.js"></script>
    <script src="../public/js/login/main.js"></script>

</body>
</html>