<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../public/css/play.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>

    <title>BattleSheep | Home</title>
</head>
<body class="dark">

<header class="header">
    <%- include("./parts/header"); -%>
</header>

<main>
    <section class="play__container">
        <div id="waitingRoomContainer" class="room__container">

            <!--<aside class="left__aside">
                <div class="news__element">
                    SWIPER
                </div>
            </aside>-->

            <div class="center__aside">
                <h2><mark>Play!</mark></h2>
                <div class="center__aside__button__container">
                    <p>Click on "join queue" to get into a game</p>
                    <div class="button__container">
                        <button id="joinQueueButton" class="">Join Queue</button>
                        <pre id="output"></pre>
                    </div>
                    <div class="waiting__game">
                        <i class='bx bx-loader-alt'></i>
                    </div>
                </div>
                <img src="../public/img/map.png" alt="">
            </div>

            <aside class="right__aside">
                <div id="chatFrame" class="chat__container">
                    <div id="chatDiv" class="chat__div">
                        <p>You can type a message he will appear just below</p>
                        <hr style="border-color: white">
                    </div>
                </div>
                <form id="form" class="beneath__chat">
                    <div class="input__container">
                        <input id="input" oninput="chatManager.onTyping()" autocomplete="off"
                               placeholder="Type your message here !"/>
                        <div id="currentChar" class="currentChar"></div>
                    </div>
                </form>
            </aside>

        </div>
    </section>
</main>

<footer>
    <%- include("./parts/footer"); -%>
</footer>

<script src="../public/js/responsive/HeaderResponsive.js"></script>
<script src="../public/js/chat/ChatManager.js"></script>
<script src="../public/js/queue/manager/WaitingRoomManager.js"></script>
<script src="../public/js/queue/main.js"></script>

</body>
</html>