body {
  padding: 0;
  margin: 0;
  background-color: #233a5f;
  background-image: url("../img/filter.png");
  background-attachment: fixed;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  width: 75%;
  margin: 50px auto 125px auto;
  background-color: rgba(25, 42, 67, 0.8);
  border-radius: 25px;
}

.game__container {
  padding: 25px;
  font-family: "Kanit-ExtraLight", sans-serif;
}
.game__container .game__title h1 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-xxl);
  color: var(--dark-hx-color);
  letter-spacing: 0.4rem;
  text-align: center;
}
.game__container .game__title h1 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
  background-size: 100% 7px;
}
.game__container .game__info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.game__container .game__info span {
  color: white;
}
.game__container .game__info .table__container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.game__container .game__info .table__container table {
  margin-top: 25px;
  width: 75%;
  border-collapse: collapse;
  border-radius: 25px;
}
.game__container .game__info .table__container table thead {
  height: 50px;
  background-color: grey;
  border: 1px solid grey;
}
.game__container .game__info .table__container table tbody {
  background-color: skyblue;
  border: 1px solid skyblue;
}
.game__container .game__info .table__container table tbody tr {
  height: 50px;
}
.game__container .game__info .table__container table tbody tr td {
  text-align: center;
}
.game__container .game__boards {
  width: 100%;
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.game__container .game__boards .your__board {
  display: grid;
  grid-template-columns: repeat(10, 4.6vmin);
  grid-template-rows: repeat(10, 4.6vmin);
  background-color: skyblue;
}
.game__container .game__boards .your__board div {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.game__container .game__boards .enemy__board {
  display: grid;
  grid-template-columns: repeat(10, 4.6vmin);
  grid-template-rows: repeat(10, 4.6vmin);
  background-color: indianred;
}
.game__container .game__boards .enemy__board div {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.game__container .place__ship__container {
  width: 95%;
  padding: 25px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
}
.game__container .place__ship__container .place__ship__content {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.game__container .place__ship__container .place__ship__content .ship__title {
  margin-bottom: 25px;
}
.game__container .place__ship__container .place__ship__content .ship__title h2 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-l);
  color: var(--dark-hx-color);
  letter-spacing: 0.15rem;
  text-align: left;
}
.game__container .place__ship__container .place__ship__content .ship__title h2 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
  background-size: 100% 5px;
}
.game__container .place__ship__container .place__ship__content .ship__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.game__container .place__ship__container .place__ship__content .ship__container .element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__container .place__ship__container .place__ship__content .ship__container .element span {
  color: white;
}
.game__container .place__ship__container .place__ship__content .ship__container img {
  width: 70%;
  height: auto;
}
.game__container .place__ship__container .ready__btn__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;
}
.game__container .place__ship__container .ready__btn__container span {
  font-size: var(--fs-s);
  color: var(--dark-span-color);
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.game__container .place__ship__container .ready__btn__container button {
  cursor: pointer;
  width: 35%;
  height: 50px;
  border: solid var(--dark-btn-rbg) 1px;
  border-radius: 10px;
  background-color: var(--dark-btn-color);
  color: var(--dark-hx-color);
  font-size: var(--fs-m);
  letter-spacing: 2px;
}
.game__container .item__selection__container {
  width: 95%;
  padding: 25px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
}
.game__container .item__selection__container .item__selection__content {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.game__container .item__selection__container .item__selection__content .item__title {
  margin-bottom: 25px;
}
.game__container .item__selection__container .item__selection__content .item__title h2 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-l);
  color: var(--dark-hx-color);
  letter-spacing: 0.15rem;
  text-align: left;
}
.game__container .item__selection__container .item__selection__content .item__title h2 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
  background-size: 100% 5px;
}
.game__container .item__selection__container .item__selection__content .item__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.game__container .item__selection__container .item__selection__content .item__container .element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__container .item__selection__container .item__selection__content .item__container .element span {
  color: white;
}
.game__container .item__selection__container .item__selection__content .item__container img {
  width: 70%;
  height: auto;
}
.game__container .game__quit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
}
.game__container .game__quit button {
  cursor: pointer;
  width: 25%;
  height: 50px;
  border: solid #e74c3c 1px;
  border-radius: 10px;
  background-color: #e74c3c;
  color: var(--dark-span-color);
  font-size: var(--fs-m);
  letter-spacing: 2px;
}

.black {
  background-color: black !important;
}

.green {
  background-color: #0F9E5E !important;
}

.blue {
  background-color: cornflowerblue !important;
}

.orange {
  background-color: #f39c12 !important;
}

.red {
  background-color: #e74c3c !important;
}

.rotate {
  transform: rotate(-90deg);
}

.placement__preview {
  background-color: rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=game.css.map */
