//======================================================
//                     G A M E
//
//  This file contains all important css property
//
//======================================================*

@mixin shipWH($width, $height) {
  height: calc(4.6vmin * #{$width});
  width: calc(4.6vmin * #{$height});
}

body {
  padding: 0;
  margin: 0;
  background-color: #233a5f;
  background-image: url("../img/filter.png");
  background-attachment: fixed;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  width: 75%;
  margin: 50px auto 125px auto;
  background-color: rgba(25, 42, 67, 0.8);
  border-radius: 25px;
}

.game__container {
  padding: 25px;
  font-family: "Kanit-ExtraLight", sans-serif;

  .game__title {
    h1 {
      padding: 0;
      margin: 0;
      font-size: var(--fs-xxl);
      color: var(--dark-hx-color);
      letter-spacing: 0.4rem;
      text-align: center;

      mark {
        color: inherit;
        position: relative;
        background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
        background-size: 100% 7px;
      }
    }
  }

  .game__info {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;

    span {
      color: white;
    }

    .table__container {
      width: 50%;
      display: flex;
      justify-content: center;

      table {
        margin-top: 25px;
        width: 75%;
        border-collapse: collapse;
        border-radius: 25px;

        thead {
          height: 50px;
          background-color: grey;
          border: 1px solid grey;
        }

        tbody {
          background-color: skyblue;
          border: 1px solid skyblue;

          tr {
            height: 50px;
            td {
              text-align: center;
            }
          }
        }
      }
    }

  }

  .game__boards {
    width: 100%;
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    gap: 25px;

    .your__board {
      display: grid;
      grid-template-columns: repeat(10, 4.6vmin);
      grid-template-rows: repeat(10, 4.6vmin);
      background-color: skyblue;

      div {
        cursor: pointer;
        border: 1px solid hsla(0, 0%, 100%, .2);
        text-align: center;
      }
    }

    .enemy__board {
      display: grid;
      grid-template-columns: repeat(10, 4.6vmin);
      grid-template-rows: repeat(10, 4.6vmin);
      background-color: indianred;

      div {
        cursor: pointer;
        border: 1px solid hsla(0, 0%, 100%, .2);
        text-align: center;
      }
    }
  }

  .place__ship__container {
    width: 95%;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);

    .place__ship__content {
      width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column;

      .ship__title {
        margin-bottom: 25px;

        h2 {
          padding: 0;
          margin: 0;
          font-size: var(--fs-l);
          color: var(--dark-hx-color);
          letter-spacing: 0.15rem;
          text-align: left;

          mark {
            color: inherit;
            position: relative;
            background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
            background-size: 100% 5px;
          }
        }
      }

      .ship__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .element {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            color: white;
          }

        }

        img {
          width: 70%;
          height: auto;
        }
      }
    }
  }

  .item__selection__container {
    width: 95%;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);

    .item__selection__content {
      width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column;

      .item__title {
        margin-bottom: 25px;

        h2 {
          padding: 0;
          margin: 0;
          font-size: var(--fs-l);
          color: var(--dark-hx-color);
          letter-spacing: 0.15rem;
          text-align: left;

          mark {
            color: inherit;
            position: relative;
            background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
            background-size: 100% 5px;
          }
        }
      }

      .item__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .element {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            color: white;
          }

        }

        img {
          cursor: pointer;
          padding: 10px;
          margin: 10px;
          width: 75px;
          height: auto;
        }
      }


    }
  }

  .game__quit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;

    button {
      cursor: pointer;
      width: 25%;
      height: 50px;
      border: solid rgba(231, 76, 60, 1.0) 1px;
      border-radius: 10px;
      background-color: rgba(231, 76, 60, 1.0);
      color: var(--dark-span-color);
      font-size: var(--fs-m);
      letter-spacing: 2px;
    }
  }
}


.ready__btn__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;

  span {
    font-size: var(--fs-s);
    color: var(--dark-span-color);
    letter-spacing: 1px;
    margin-bottom: 12px;
  }

  button {
    cursor: pointer;
    width: 35%;
    height: 50px;
    border: solid var(--dark-btn-rbg) 1px;
    border-radius: 10px;
    background-color: var(--dark-btn-color);
    color: var(--dark-hx-color);
    font-size: var(--fs-m);
    letter-spacing: 2px;
  }
}

.black {
  background-color: black !important;
}

// Torpilleur
.green {
  background-color: #0F9E5E !important;
}

// Sous-marin
.blue {
  background-color: cornflowerblue !important;
}

// Contre torpilleur
.orange {
  background-color: #f39c12 !important;
}

// Croiseur
.red {
  background-color: #e74c3c !important;
}

.rotate {
  transform: rotate(-90deg);
}

.placement__preview {
  background-color: rgba(0, 0, 0, .2);
}

.item__selected {
  border: 2px solid #27ae60;
  border-radius: 15px;
}

.item__unavailable {
  border: 2px solid #e74c3c;
  border-radius: 15px;
}

.boatPartSunken {
  background-color: #2d3436 !important;
}

.caseFired {
  background-color: #636e72 !important;
}

.opacity {
  opacity: 0.2;
}

.contrast {
  background-color: #C54444;
}