//======================================================
//                     H E A D E R
//
//  This file contains all important css property
//
//======================================================*
@use "mixins" as function;

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  //background-color: var(--dark-header-bg-color);
  height: auto;
  width: auto;
  font-family: "Bebas Neue", sans-serif;
  padding: 25px 100px 25px 100px;
  transition: ease-in-out all 500ms;

  .logo__container {
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit;
    transition: ease-in-out all 500ms;

    img {
      height: 100px;
    }

  }

  .nav__container {
    display: flex;
    align-items: center;
    justify-content: end;
    height: inherit;
    flex-grow: 2;
    gap: 50px;
    transition: ease-in-out all 500ms;

    a {
      display: flex;
      height: inherit;
      align-items: center;
      text-decoration: none;
      color: var(--dark-hx-color);

      h1 {
        @include function.noPaddingMargin();
        letter-spacing: 2px;
      }

      i {
        margin: 5px;
        font-size: 25px;
        color: var(--dark-hx-color);
      }

    }

    .dark__mode {
      display: flex;
      align-items: center;
      height: inherit;
      transition: ease-in-out all 500ms;

      &:hover {
        cursor: pointer;
      }
      i {
        font-size: 25px;
        color: var(--dark-hx-color);

        &:hover {
          opacity: 0.8;
        }
      }

      @media (max-width: 65em){
        display: none;
      }
    }
  }

  .nav__list {
    display: none;
    align-items: center;
    height: inherit;
    z-index: 10;
    transition: ease-in-out all 500ms;

    i {
      font-size: 35px;
      color: var(--dark-hx-color);
    }

    @media (max-width: 65em){
      display: flex;
    }

  }

}

@media (max-width: 65em) {
  .header {
    .nav__container {
      animation: fadeIn 1s;
      display: none;
      position: fixed;
      justify-content: center;
      inset: 0 0 0 50%;
      flex-direction: column;
      padding: min(20vh, 10rem) 2em;
      background-color: rgba(46, 65, 96, 0.85);
      z-index: 10;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}