:root {
  /* Color style */
  /* Other style */
  /*--login-bg-color: #53678d;
  --hx-color: #ffffff;
  --sp-color: #ffffff;
  --water-color: #62aae4;
  --dark-water-color: #4b71fb;
  --login-box-shadow: 74, 113, 252;*/
  /* Dark Style */
  --login-bg-color: #274068;
  --hx-color: #ffffff;
  --sp-color: #ffffff;
  --water-color: #62aae4;
  --dark-water-color: #4b71fb;
  --dark-violet-rgb: 119, 101, 227;
  --login-box-shadow: 63, 151, 222;
  /* Font size */
  --fs-l: 2rem;
  --fs-m: 1.5rem;
  --fs-s: 1rem;
  --fs-ss: 0.85rem;
}

body {
  padding: 0;
  margin: 0;
  background-size: cover;
  background: var(--login-bg-color) url("../img/login/backgroundTest2.png") no-repeat fixed center center;
}

.logo__container {
  height: 100px;
  padding: 30px;
}
.logo__container img {
  width: auto;
  height: 100px;
}

.login__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__container:hover .login__popup {
  opacity: 0.5;
}
.login__container mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--login-box-shadow), 0.8) 0%, rgba(var(--login-box-shadow), 0.8) 100%) no-repeat 0 83%;
  background-size: 100% 10px;
}
.login__container .login__popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--login-bg-color);
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  gap: 25px;
  padding: 35px;
  box-shadow: 12px 12px 2px 1px rgba(var(--login-box-shadow), 0.5);
  transition: all ease-in-out 500ms;
}
@media (max-width: 40em), (max-height: 40em) {
  .login__container .login__popup {
    padding: 25px;
    gap: 15px;
  }
}
.login__container .login__popup:hover {
  transition: all ease-in-out 500ms;
  opacity: 1;
}
.login__container .login__popup .login__error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  background-color: rgba(231, 76, 60, 0.8);
  border: solid 1px rgba(231, 76, 60, 0.8);
  border-radius: 5px;
}
.login__container .login__popup .login__error p {
  padding: 0;
  margin: 0;
  color: var(--hx-color);
  font-size: var(--fs-s);
}
.login__container .login__popup .login__back {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.login__container .login__popup .login__back a {
  position: absolute;
  transform: translateY(-60px) translateX(-25px);
}
.login__container .login__popup .login__back i {
  font-size: 40px;
  color: var(--water-color);
  padding: 3%;
}
.login__container .login__popup .login__back i:hover {
  opacity: 0.8;
  animation-duration: 800ms;
  animation-name: rotation;
  animation-timing-function: ease;
}
.login__container .login__popup .login__back span {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  font-weight: 600;
  font-size: var(--fs-s);
  color: var(--water-color);
  letter-spacing: 1px;
}
.login__container .login__popup .login__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  z-index: 5;
}
.login__container .login__popup .login__title h1 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-l);
  color: var(--hx-color);
  letter-spacing: 2.5px;
}
.login__container .login__popup .login__form__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 40em), (max-height: 40em) {
  .login__container .login__popup .login__form__container {
    gap: 20px;
  }
}
.login__container .login__popup .login__form__container .hidden {
  position: absolute;
  visibility: hidden;
}
.login__container .login__popup .login__form__container .login__form__element {
  display: flex;
  flex-direction: column;
}
.login__container .login__popup .login__form__container .login__form__element .login__password__label {
  display: flex;
  justify-content: end;
  align-items: center;
}
.login__container .login__popup .login__form__container .login__form__element .login__password__label input {
  padding-right: 30px;
}
.login__container .login__popup .login__form__container .login__form__element .login__password__label i {
  cursor: pointer;
  position: absolute;
  font-size: var(--fs-s);
  color: var(--hx-color);
  padding-right: 10px;
}
.login__container .login__popup .login__form__container .login__form__element .login__password__label i:hover {
  opacity: 0.75;
}
.login__container .login__popup .login__form__container .login__form__element span {
  font-size: var(--fs-s);
  color: var(--hx-color);
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.login__container .login__popup .login__form__container .login__form__element ::placeholder {
  color: white;
}
.login__container .login__popup .login__form__container .login__form__element input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid var(--dark-water-color);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--sp-color);
}
.login__container .login__popup .login__form__container .login__form__element input:focus {
  outline-style: none !important;
}
.login__container .login__popup .login__form__container .login__form__element input ::placeholder {
  color: white;
}
.login__container .login__popup .login__button {
  width: 100%;
  height: 50px;
  border: solid var(--dark-water-color) 2px;
  border-radius: 5px;
  background-color: var(--dark-water-color);
  color: var(--sp-color);
  font-size: var(--fs-m);
  letter-spacing: 2px;
}
.login__container .login__popup .login__button:hover {
  cursor: pointer;
}
.login__container .login__popup .signup {
  display: flex;
  align-items: end;
  height: inherit;
  letter-spacing: 1px;
  transition: ease-in-out all 500ms;
}
.login__container .login__popup .signup p {
  padding: 0;
  margin: 0;
  font-size: var(--fs-s);
  color: var(--sp-color);
  margin-bottom: 50px;
}
.login__container .login__popup .signup p span {
  font-weight: 600;
  color: var(--water-color);
  cursor: pointer;
  transition: ease-in-out all 500ms;
}
.login__container .login__popup .signup p span:hover {
  opacity: 0.9;
  border-bottom: solid var(--water-color) 1px;
  transition: ease-in-out all 500ms;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 40em), (max-height: 40em) {
  :root {
    --fs-l: 1.25rem;
    --fs-m: 1rem;
    --fs-s: 0.85rem;
    --fs-ss: 0.75rem;
  }
}

/*# sourceMappingURL=login.css.map */
