//======================================================
//                     P L A Y
//
//  This file contains all important css property
//
//======================================================*

body {
  padding: 0;
  margin: 0;
  background-color: #233a5f;
  background-image: url("../img/filter.png");
  background-attachment: fixed;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  width: 75%;
  margin: 50px auto 125px auto;
  background-color: rgba(25, 42, 67, 0.8);
  border-radius: 25px;
}

.game__not__playable {
  padding: 35px;
  font-size: var(--fs-s);
  font-family: "Kanit-ExtraLight", sans-serif;
  color: var(--dark-span-color);
  text-align: center;
}

.play__container {
  padding: 25px;
  display: flex;
  font-family: "Kanit-ExtraLight", sans-serif;

  h1 {
    padding: 0;
    margin: 0;
    font-size: var(--fs-3xl);
    color: var(--dark-hx-color);
    letter-spacing: 0.75rem;
    text-align: center;

    mark {
      color: inherit;
      position: relative;
      background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
      background-size: 100% 15px;
    }
  }

  img {
    width: 250px;
    height: auto;
  }

  .room__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;

    .left__aside {
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .news__element {
        width: 95%;
        height: 100%;
        border-radius: 10px;
        background-color: black;
      }
    }

    .center__aside {
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .center__aside__button__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 2;
        margin: 35px 0 35px 0;
        gap: 15px;

        .button__container {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .waiting__game { display: none; }

        img {
          width: 100%;
          height: 100px;
        }

        button {
          cursor: pointer;
          width: 50%;
          height: 50px;
          border: solid #4b71fb 1px;
          border-radius: 10px;
          background-color: #4b71fb;
          color: var(--dark-hx-color);
          font-size: var(--fs-m);
          letter-spacing: 2px;
        }
      }
    }

    .right__aside {
      width: 40%;
      height: inherit;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px;

      .chat__container {
        display: flex;
        transition: ease-in-out 250ms;
        flex-grow: 2;

        .chat__div {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          padding-right: 25px;
          padding-left: 25px;
          overflow-y: scroll;
          scroll-behavior: smooth;
          max-height: 335px;

          p {
            color: var(--dark-hx-color);
            font-size: var(--fs-s);
            letter-spacing: 1px;
            word-break: break-word;
          }
        }
      }

      .beneath__chat {
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;

        .input__container {
          width: 100%;
          display: flex;
          justify-content: end;
          align-items: center;

          .currentChar {
            position: absolute;
            color: black;
            font-size: 1rem;
            padding: 0 1rem;
            margin: 0.25rem;
          }

          input {
            width: 100%;
            padding: 0 65px 0 5px;
            border: none;
            border-radius: 10px;
            margin: 10px;
            height: 35px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    font-size: var(--fs-xxl);
    color: var(--dark-hx-color);
    letter-spacing: 0.25rem;

    mark {
      color: inherit;
      position: relative;
      background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 74%;
      background-size: 100% 7px;
    }
  }

  p {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-hx-color);
    font-size: var(--fs-sm);
  }
}

#output {
  color: white;
}

@keyframes loading {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@media (max-width: 80em) {
  .room__container {
    flex-direction: column !important;
    align-items: center;
    .left__aside {
      width: 100% !important;
    }
    .right__aside {
      width: 100% !important;
      display: block !important;
      align-items: flex-start !important;
      min-height: 100px;
    }
  }
}