body {
  padding: 0;
  margin: 0;
  background-color: #233a5f;
  background-image: url("../img/filter.png");
  background-attachment: fixed;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  width: 75%;
  margin: 50px auto 150px auto;
  background-color: rgba(25, 42, 67, 0.8);
  border-radius: 25px;
}

.profile__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit-ExtraLight", sans-serif;
}
.profile__container h1 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-3xl);
  color: var(--dark-hx-color);
  letter-spacing: 0.75rem;
}
.profile__container h1 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 1) 0%, rgba(var(--dark-mark-rgb), 1) 100%) no-repeat 0 73%;
  background-size: 100% 15px;
}
.profile__container .profile__welcome {
  font-size: var(--fs-m);
  color: var(--dark-span-color);
  letter-spacing: 2px;
  transform: translateY(-10px);
}
.profile__container .profile__informations__container {
  margin-top: 50px;
  width: 100%;
}
.profile__container .profile__informations__container h2 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-xl);
  color: var(--dark-hx-color);
  letter-spacing: 2px;
}
.profile__container .profile__informations__container h2 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 0.5) 0%, rgba(var(--dark-mark-rgb), 0.5) 100%) no-repeat 0 73%;
  background-size: 100% 7px;
}
.profile__container .profile__informations__container .profile__informations__table {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.profile__container .profile__informations__container .profile__informations__table table {
  width: 90%;
  border-collapse: collapse;
}
.profile__container .profile__informations__container .profile__informations__table table tbody tr {
  border-bottom: solid #f1e6d0 1px;
}
.profile__container .profile__informations__container .profile__informations__table table tbody tr td {
  padding: 15px;
  color: white;
  font-size: var(--fs-sm);
}
.profile__container .profile__informations__container .profile__informations__table table tbody .profile__editor {
  display: flex;
  align-items: center;
}
.profile__container .profile__informations__container .profile__informations__table table tbody .profile__editor span {
  flex-grow: 2;
}
.profile__container .profile__informations__container .profile__informations__table table tbody .profile__editor i {
  cursor: pointer;
  display: flex;
  justify-content: end;
}
.profile__container .profile__success__container {
  width: 100%;
  margin-top: 50px;
}
.profile__container .profile__success__container h2 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-xl);
  color: var(--dark-hx-color);
  letter-spacing: 2px;
}
.profile__container .profile__success__container h2 mark {
  color: inherit;
  position: relative;
  background: linear-gradient(120deg, rgba(var(--dark-mark-rgb), 0.5) 0%, rgba(var(--dark-mark-rgb), 0.5) 100%) no-repeat 0 73%;
  background-size: 100% 7px;
}
.profile__container .profile__success__container .profile__success__img__container {
  display: flex;
  justify-content: space-around;
}
.profile__container .profile__logout__container {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
}
.profile__container .profile__logout__container .profile__logout__button {
  width: 100%;
}
.profile__container .profile__logout__container .profile__logout__button button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: solid #e74c3c 1px;
  border-radius: 10px;
  background-color: #e74c3c;
  color: var(--dark-hx-color);
  font-size: var(--fs-m);
  letter-spacing: 2px;
}

/*# sourceMappingURL=profile.css.map */
