<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/errors/error.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">

    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <title>BattleSheep | Where you go ?</title>
</head>
<body>
    <header class="header">
        <%- include("../parts/header"); -%>
    </header>

    <main>
        <div class="error__container">
            <div class="error__text">
                <h1><mark>404</mark></h1>
                <h2>OOPS! NOTHING WAS FOUND</h2>
                <p>
                    The page you are looking for might have been removed had its name changed or is temporarily unavailable
                    <a href="/">Return to home page</a>
                </p>
            </div>
            <div class="error__img">
                <img src="../../public/img/errors/error.png" alt="404">
            </div>
        </div>
    </main>

    <footer>
        <%- include("../parts/footer"); -%>
    </footer>

    <script src="../../public/js/responsive/HeaderResponsive.js"></script>

</body>
</html>