<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/modal.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">


    <!-- LIBS -->
    <link rel="stylesheet" type="text/css" href="../../public/css/libs/hover/hover.css">

    <title>BattleSheep | Home</title>
</head>
<body class="dark">
    <header class="header">
        <div class="logo__container">
            <img class="hvr-bounce-in" src="../../public/img/logo.png" alt="Sheep">
        </div>
        <nav class="nav__container">
            <a href="/" class="hvr-grow">
                <i class='bx bx-home-alt'></i>
                <h1>Home</h1>
            </a>
            <a href="" class="hvr-grow">
                <i class='bx bx-game'></i>
                <h1>Play</h1>
            </a>
            <a href="" class="hvr-grow">
                <i class='bx bx-crown'></i>
                <h1>Leaderboard</h1>
            </a>
            <a href="../login?signup=false" class="hvr-grow">
                <i class='bx bx-user'></i>
                <h1>Profile</h1>
            </a>
            <div class="dark__mode">
                <i class='bx bxs-moon'></i>
            </div>
        </nav>
    </header>

    <main>
        <section style="height: 1000px;">
            <h1></h1>
            <article>
            </article>
        </section>
    </main>

    <footer>
    </footer>

</body>
</html>