<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- LIBS -->

    <title>BattleSheep | Home</title>
</head>
<body class="dark">
    <header>
    </header>

    <main>
        <p>Ok... the game is finished...</p>
    </main>

    <footer>
    </footer>
</body>
</html>