<div class="logo__container">
    <img class="hvr-bounce-in" src="../../public/img/logo.png" alt="Sheep">
</div>
<nav class="nav__container">
    <a href="/" class="hvr-grow">
        <i class='bx bx-home-alt'></i>
        <h1>Home</h1>
    </a>
    <a href="" class="hvr-grow">
        <i class='bx bx-game'></i>
        <h1>Play</h1>
    </a>
    <a href="" class="hvr-grow">
        <i class='bx bx-crown'></i>
        <h1>Leaderboard</h1>
    </a>
    <a href="../login?signup=false" class="hvr-grow">
        <i class='bx bx-user'></i>
        <h1>Profile</h1>
    </a>
    <div class="dark__mode">
        <i class='bx bxs-moon'></i>
    </div>
</nav>